main {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 55vh;
}

main h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #6a6363;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;

  color: #fff;
}

.musics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  margin-top: 10px;
}
