.controls-container {
  width: 88%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}

.buttons-container {
  width: 88vw;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 25px;
}

.buttons-container button {
  background: transparent;
  border: none;

  cursor: pointer;
}

.normal-button {
  height: 40px;
  width: 40px;
}

.play-pause {
  height: 50px;
  width: 50px;
}
