header {
  display: flex;
  justify-content: space-between;

  height: 15vh;
  width: 100vw;
  padding: 3vh 2vw;

  border-bottom: 1px solid #6a6363;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #6a6363;
}

.user-container p {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}
