footer {
  display: flex;

  height: 15vh;
  width: 100vw;
  padding: 3vh 1.3vw;

  border-top: 2px solid rgba(0, 0, 0, 0.21);

  background: linear-gradient(180deg, #383535 0%, rgba(133, 130, 130, 0) 100%);
}
