.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.time {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;

  color: #ccc3c3;
}

input {
  width: 560px;
  height: 4px;
}
